<uib-accordion>
    <uib-accordion-group panel-class="bootstrap-panel accordion-panel panel-default">
        <uib-accordion-heading>
            Etapas do Projeto
            <i class="fa pull-right ion-settings"></i>
        </uib-accordion-heading>
        <div class="horizontal-scroll">
		    <etapas  class="col-md-12">
                <div ng-if="data.projeto.etapas.length > 0" ng-init="etapas = data.projeto.etapas">
                    <div ng-include="'app/pages/componentes/projeto/etapas/etapas.html'"></div>
                </div>
            </etapas>
            <div>
                <div class="button-wrapper col-md-1 ">
                    <div>
                        <button type="button" class="btn btn-default" ng-click="criarEtapa(data.projeto)">Incluir</button>
                    </div>
                </div>
            </div>
        </div>
	</uib-accordion-group>
</uib-accordion>
<uib-accordion>
    <uib-accordion-group panel-class="bootstrap-panel accordion-panel panel-default">
        <uib-accordion-heading>
            Meu Orientador
            <i class="fa pull-right ion-settings"></i>
        </uib-accordion-heading>
        <div class="horizontal-scroll">
		    <orientador  class="col-md-12">
                <div ng-if="data.projeto.professor" ng-init="professor = data.projeto.professor">
                    <div ng-include="'app/pages/componentes/professor-orientador.html'"></div>
                </div>
            </orientador>
        </div>
	</uib-accordion-group>
</uib-accordion>
<uib-accordion>
    <uib-accordion-group panel-class="bootstrap-panel accordion-panel panel-default">
        <uib-accordion-heading>
            Detalhes do Projeto
            <i class="fa pull-right ion-settings"></i>
        </uib-accordion-heading>
        <div class="horizontal-scroll">
                <projeto  class="col-md-12">
                <div ng-include="'app/pages/componentes/projeto/projeto-detalhe.html'"></div>
            </projeto>
        </div>
	</uib-accordion-group>
</uib-accordion>