<projeto class="col-md-12" ng-if="data.projeto">
    <div class="row">
        <div>
            <form  class="row">
            <div class="form-group col-md-10">
                <label for="textarea01">Título</label>
                <input   type="text" class="form-control input-lg" ng-model = "data.projeto.titulo" placeholder="Informe um título para o seu projeto">
            </div>      
            <div class="col-md-2">
                <div class="kameleon-row ng-scope">
                    <div style="margin:0 60px;" class="kameleon-icon with-round-bg primary">
                        <img ng-src="assets/img/theme/icon/kameleon/Checklist.svg" src="assets/img/theme/icon/kameleon/Checklist.svg">
                    </div>
                </div>
            </div>
            <div class="form-group col-md-12">
                <label for="textarea01">Resumo</label>
                <textarea class="form-control" ng-model = "data.projeto.resumo" placeholder="Descreva em poucas palavas sobre seu projeto" >{{data.projeto.resumo}}</textarea>
            </div>
            <div class="form-group col-md-12">
                <label for="textarea01">Problema</label>
                <textarea class="form-control" ng-model = "data.projeto.problema" placeholder="Descreva sobre o problema">{{data.projeto.problema}}</textarea>
            </div>
            <div class="form-group col-md-12">
                <label for="textarea01">Solução</label>
                <textarea class="form-control" ng-model = "data.projeto.solucao" placeholder="Descreva sobre a solução" >{{data.projeto.solucao}}</textarea>
            </div>
            <div class="form-group col-md-12">
                <label class = "subtitulo-modal">Segmento</label>
                <select class="form-control" title="Segmento"
                        data-style="btn-inverse" data-container="body" 
                        selectpicker
                        value =  "data.projeto.segmento"
                        ng-model="data.projeto.segmento" 
                        ng-options="segmento.descricao for segmento in data.listSegmento">
                </select>
            </div>
            <div ng-if="data.isAluno">
                <div class="form-group col-md-offset-11 col-md-1">
                    <div>
                        <button type="button" class="btn btn-danger" ng-click="salvarProjeto(data.projeto)">Salvar</button>
                    </div>
                </div>
            </div>
            </form>
        </div>
    </div>
</projeto>