<div ng-init="etapas = projeto.etapas "></div>
<div class="modal-content">
    <div class="modal-header">
        <button type="button" class="close" ng-click="$dismiss()" aria-label="Close">
            <em class="ion-ios-close-empty sn-link-close">
            </em>
        </button>
        <h4 class="modal-title">
            Etapas do Projeto
        </h4>
    </div>
    <div class="modal-body">
    <div class="col-md-12">
        <div ng-if ="etapas.length == 0" class="row">
        <h3>    
            Não existe etapas cadastradas!
        </h3>
        </div>
        <div ng-if ="etapas.length > 0" class="row">
                <table class="table table-hover">
                    <thead>
                        <tr>
                            <th></th>    
                            <th>Título</th>
                            <th>Resumo</th>   
                            <th>Data Crítica</th>
                            <th>Concluído</th>
                            <th>Download</th>
                            <th>Total Feedback</th>
                            <th>Enviar Feedback</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr ng-repeat="etapa in etapas" ng-click ="etapaDetalhes(etapa)" >
                            <td><a ng-click="EditarEtapa(etapa,projeto)"><i class="ion-edit"></i></a></td>
                            <td>{{etapa.titulo | limitTo: 10}}</td>  
                            <td>{{(etapa.resumo | limitTo: 15) + "..." }}</td>   
                            <td>{{etapa.dataCritica | date : 'dd/MM/yyyy'}}</td>
                            <td>{{etapa.concluido ? "Sim" : "Não" }}</td>
                            <td><a ng-if="etapa.entrega" ng-click="verEntrega(etapa,data.projeto)"><i class="ion-archive"></i></a></td>
                            <td>{{etapa.feedback.length}}</td>
                            <td><a ng-click="Feedback(etapa,projeto)"><i class="ion-forward"></i></a></td>
                        </tr>
                    </tbody>
                </table>
            </div>
    </div>
    </div>
    <div class="modal-footer">
        <button type="button" class="btn btn-info" ng-click="$dismiss()">
            OK
        </button>
    </div>
</div>
</div>