<div class="modal-content">
    <div class="modal-header">
        <button type="button" class="close" ng-click="$dismiss()" aria-label="Close">
            <em class="ion-ios-close-empty sn-link-close">
            </em>
        </button>
        <h4 class="modal-title">
            Responder Agendamento de Orientação
        </h4>
    </div>
    <div class="modal-body">
        <form>
            <div class="col-md-12">
                <div class="form-group">
                    <label for="textarea01">
                        Assunto da Orientação
                    </label>
                    <input disabled type="text" required class="form-control input-lg" ng-model="data.assunto"
                    placeholder="Informe o assunto da orientação...">
                </div>
            </div>
            <div class="col-md-12">
                <div class="form-group ">
                    <label for="textarea02">
                        Detalhe
                    </label>
                    <input disabled type="text" required class="form-control input-lg" ng-model="data.detalhe"
                    placeholder="Descreva o objetivo da orientação e demais observações...">
                </div>
            </div>
            <div class="form-group col-md-6">
                <label for="textarea02">
                    Local
                </label>
                <input disabled type="text" required class="form-control input-lg" ng-model="data.local"
                placeholder="Informe o loca da orientação...">
            </div>
            <div class="form-group col-md-6">
                <div class="col-md-7">
                    <label for="textarea02">
                        Data
                    </label>
                    <input type="date" disabled required class="form-control input-lg" value="{{data.data | date : 'yyyy-MM-dd'}}"
                    placeholder="Informe a data da orientação...">
                </div>
                <div class="col-md-5">
                    <label for="textarea02">
                        Hora
                    </label>
                    <input type="time" disabled required class="form-control input-lg" min="08:00:00"
                    max="23:59:00" ng-model="data.data" value="{{data.data | date : 'HH:mm:ss'}}"
                    placeholder="Informe a hora da orientação...">
                </div>
            </div>
            <div class="form-group col-md-6">
                <label class = "subtitulo-modal">Status</label>
		        <select required class="form-control" title="Status" data-style="btn-inverse" data-container="body" selectpicker
			      ng-model="data.status"  ng-options="(status.descricao) for status in data.listStatus">
                </select>
            </div>
            <div class="form-group col-md-6">
                <div class="form-group col-md-7">
                    <label for="textarea01">
                        Data do Envio
                    </label>
                    <input disabled type="date" required class="form-control input-lg" value="{{data.envio | date : 'yyyy-MM-dd'}}"
                    placeholder="Informe o assunto da orientação...">
                </div>
                <div class="form-group col-md-5">
                    <label for="textarea01">
                        Hora do Envio
                    </label>
                    <input disabled type="time" required class="form-control input-lg" value="{{data.envio | date : 'HH:mm:ss'}}"
                    placeholder="Informe o assunto da orientação...">
                </div>
            </div>
            <div ng-if="data.resposta">
                
            </div>
        </form>
    </div>
    <div class="modal-footer">
        <button type="button" class="btn btn-info" ng-click="$dismiss()">
            Cancelar
        </button>
        <button type="button" class="btn btn-info" ng-click="executar($dismiss)">
            Enviar
        </button>
    </div>
</div>