<div class="col-md-12" >
    <div ba-panel>
        <h3>Adicionar novos orientadores!</h3>
        <div>
            <button type="button" class="btn btn-primary" ng-click="addOrientador()" ng-disabled="cadastrando">Incluir</button>
            <button type="button" class="btn btn-primary" ng-disabled="cadastrando">Importar</button>
        </div>
    </div>
</div>
<div ng-repeat="professor in data.professores">
    <div class="col-md-4">
        <div ba-panel ba-panel-title="Professor" ba-panel-class="with-scroll">
            <div ng-include="'app/pages/coordenador/orientadores/contato-professor.html'"></div>
        </div>
    </div>
</div>
    