<div class="row" >
<div ba-panel>
    <h3>Inclusão de novos alunos!</h3>
    <div class="col-md-3">
        <button type="button" class="btn btn-primary" ng-click="cadastrarAlunos()" ng-disabled="cadastrandoAluno">Incluir</button>
        <button type="button" class="btn btn-primary" ng-click="addComunicado()" ng-disabled="cadastrandoAluno">Importar</button>
    </div>
    <div class="col-md-3 col-md-offset-6"   >
        <div class="input-demo radio-demo row">
            <div class="col-md-6">
                <label class="radio-inline custom-radio nowrap">
                    <input type="radio" ng-model="disponibilidade.name" value="nao">
                    <span>Todos</span>
                </label>
            </div>
            <div class="col-md-6">                        
                <label class="radio-inline custom-radio nowrap">
                    <input type="radio" ng-model="disponibilidade.name" value="sim">
                    <span>Sem orientador</span>
                </label>
            </div>
        </div>
    </div>
</div>
    <div ng-repeat="aluno in data.alunos">
        <div class="col-md-4">
            <div ba-panel ba-panel-title="Alunos" ba-panel-class="with-scroll">
                <div ng-include="'app/pages/coordenador/alunos/contato-aluno.html'"></div>
            </div>
        </div>
    </div>
</div>
