<div class="row" >
    <div class="xs-6 col-md-9">
        <h3>{{aluno.nome | limitTo:20}}</h3>
        <h6>{{aluno.apresentacao | limitTo:20}}</h6>
    </div>
    <div class="xs-6 col-md-3">
        <div class="user-profile clearfix">
            <div class="al-user-profile" uib-dropdown>
                <img ng-src="{{::( 'Aluno' | profilePicture )}}">
            </div>
        </div>
    </div>
</div>
<div class="row">
    <div class="button-wrapper">
       <div class="col-md-3">
            <button type="button" class="btn btn-primary " ng-click="editarAluno(aluno)">Editar</button>
       </div>
       <div ng-if="!aluno.orientador" class="col-md-4 ">
            <button type="button" class="btn btn-info " ng-click="designarOrientador(aluno)">Designar Orientador</button>
        </div>
    </div>
</div>