<div class="row" >
    <div class="xs-6 col-md-9">
        <h3>{{aluno.nome}}</h3>
        <h6>{{aluno.apresentacao}}</h6>
    </div>
    <div class="xs-6 col-md-3">
        <div class="user-profile clearfix">
            <div class="al-user-profile" uib-dropdown>
                <img ng-src="{{::( aluno.user._id | profilePicture )}}">
            </div>
        </div>
    </div>
</div>
<div class="Row">
    <div class="button-wrapper">
        <div ng-if="!aluno.orientador" class="col-md-4 ">
            <button type="button" class="btn btn-info " ng-click="VerEtapas(aluno)">Designar Orientador</button>
        </div>
       <div ng-if="aluno.orientador">
            <div class="col-md-4 ">
                <button type="button" class="btn btn-primary " ng-click="VerProjeto(aluno)">Projeto</button>
            </div>
            <div class="col-md-4 ">
                <button type="button" class="btn btn-primary " ng-click="VerEtapas(aluno)">Etapas</button>
            </div>
            <div class="col-md-4 ">
                <button type="button" class="btn btn-primary " ng-click="VerEtapas(aluno)">Orientador</button>
            </div>
       </div>
    </div>
</div>