<orientadores>
    <div ng-if="! data.temOrientador">
        <div class="col-md-4 col-md-offset-8" ba-panel>
            <div class="input-demo radio-demo row">
                <div class="col-md-6">
                    <label class="radio-inline custom-radio nowrap">
                    <input type="radio" ng-model="disponibilidade.name" value="nao">
                    <span>Todos</span>
                    </label>
                </div>
                <div class="col-md-6">
                    <label class="radio-inline custom-radio nowrap">
                    <input type="radio" ng-model="disponibilidade.name" value="sim">
                    <span>Disponíveis</span>
                    </label>
                </div>
            </div>
        </div>
    </div>
    <div >
       <uib-accordion class="col-md-12">
            <uib-accordion-group panel-class="bootstrap-panel accordion-panel panel-default">
                <uib-accordion-heading>
                    Selecione os interesses
                    <i class="fa pull-right ion-funnel"></i>
                </uib-accordion-heading>
                   <!--FILTROS - INICIO -->
                    <div ng-repeat="filtro in data.skills ">
                            <div class="checkbox-demo-row col-md-2">
                                <label class="checkbox-inline custom-checkbox nowrap">
                                    <input type="checkbox"  ng-click="incluirSkill(filtro.nome)" value="{{filtro.nome}}" >
                                    <span>{{filtro.nome}}</span>
                                </label>
                            </div>
                        </div>
                    <!--FILTROS - FIM -->
                </uib-accordion-group>
            </uib-accordion>
        <!--PROFESSORES - INICIO -->
        <div ng-repeat="professor in data.professores | filter : filtrarSkilss">
            <div class="col-md-4">
                <div ba-panel ba-panel-title="Professor" ba-panel-class="with-scroll">
                    <div ng-include="'app/pages/componentes/contato-professor.html'"></div>
                </div>
            </div>
        </div>
        <!--PROFESSORES - FIM -->
    </div>
</orientadores>