<div>
    <h3>Agendamento de Orientação</h3>
</div>
    <uib-accordion>
    <uib-accordion-group panel-class="bootstrap-panel accordion-panel panel-default">
        <uib-accordion-heading>
            Novas
        <div class="pull-right" >
            <span class="total-msg"></span><i class="fa ion-email"></i>
        </div>
        </uib-accordion-heading>
            <div class="horizontal-scroll">
            <table class="table table-hover">
                <thead>
                    <tr>
                        <th></th>
                        <th>Assunto</th>
                        <th>Local</th>
                        <th>Data Orientação</th>
                        <th>Hora</th>
                        <th>Status</th>
                        <th>Enviado</th>                        
                    </tr>
                </thead>
                <tbody>
                    <tr ng-repeat="orientacao in data.orientacoes | filter: filtrarStatusEnviado"  ng-click ="Responder(orientacao)" >
                        <td></td>
                        <td>{{orientacao.assunto | limitTo: 30}}</td>   
                        <td>{{orientacao.local | limitTo: 30}}</td>  
                        <td>{{orientacao.data | date : 'dd/MM/yyyy'}}</td>
                        <td>{{orientacao.data | date : 'HH:mm:ss'}}</td>
                        <td>{{orientacao.status.descricao}}</td>
                        <td>{{orientacao.envio | date : 'dd/MM/yyyy'}}</td>                        
                    </tr>
                </tbody>
            </table>
        </div>
        </uib-accordion-group>
    </uib-accordion>
     <uib-accordion>
        <uib-accordion-group panel-class="bootstrap-panel accordion-panel panel-default">
            <uib-accordion-heading>
                Confirmadas
                <div class="pull-right" >
                    <span class="total-msg"></span><i class="fa ion-email"></i>
                </div>
            </uib-accordion-heading>
                <div class="horizontal-scroll">
                <table class="table table-hover">
                    <thead>
                        <tr>
                            <th></th>
                            <th>Assunto</th>
                            <th>Local</th>
                            <th>Data Orientação</th>
                            <th>Hora</th>
                            <th>Status</th>
                            <th>Enviado</th>   
                        </tr>
                    </thead>
                    <tbody>
                        <tr ng-repeat="orientacao in data.orientacoes | filter: filtrarStatusConfirmado " ng-click ="Detalhes(orientacao)" >
                            <td></td>
                            <td>{{orientacao.assunto  | limitTo: 30}}</td>   
                            <td>{{orientacao.local  | limitTo: 30}}</td>   
                            <td>{{orientacao.data | date : 'dd/MM/yyyy'}}</td>
                            <td>{{orientacao.data | date : 'HH:mm:ss'}}</td>
                            <td>{{orientacao.status.descricao}}</td>
                            <td>{{orientacao.envio | date : 'dd/MM/yyyy'}}</td>
                        </tr>
                    </tbody>
                </table>
            </div>
        </uib-accordion-group>
    </uib-accordion>
    <uib-accordion>
    <uib-accordion-group panel-class="bootstrap-panel accordion-panel panel-default">
        <uib-accordion-heading>
            Recusadas
            <div class="pull-right" >
                <span class="total-msg"></span><i class="fa ion-email"></i>
            </div>
        </uib-accordion-heading>
            <div class="horizontal-scroll">
            <table class="table table-hover">
                <thead>
                    <tr>
                        <th></th>
                        <th>Assunto</th>
                        <th>Local</th>
                        <th>Data Orientação</th>
                        <th>Hora</th>
                        <th>Status</th>
                        <th>Enviado</th>   
                    </tr>
                </thead>
                <tbody>
                    <tr ng-repeat="orientacao in data.orientacoes | filter: filtrarStatusRejeitado " ng-click ="Detalhes(orientacao)" >
                        <td></td>
                        <td>{{orientacao.assunto | limitTo: 30}}</td>   
                        <td>{{orientacao.local | limitTo: 30}}</td>   
                        <td>{{orientacao.data | date : 'dd/MM/yyyy'}}</td>
                        <td>{{orientacao.data | date : 'HH:mm:ss'}}</td>
                        <td>{{orientacao.status.descricao}}</td>
                        <td>{{orientacao.envio | date : 'dd/MM/yyyy'}}</td>
                    </tr>
                </tbody>
            </table>
        </div>
        </uib-accordion-group>
    </uib-accordion>
   